body {
  /*background-color : #ccc;*/
  background-color : #000;
  margin-top: 50px;
}

.banner-button {
  background-color: #222;
  border-color: #222;
  border-style: none;
  color: #fff;
  margin-top: 0.7em;
}

.elementListPanel {
  background-color : #999;
  /*border-color : #333;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-style: solid;
  border-width : 0.15em;*/
  padding : 1em;
}

.galaxyElementsToggle {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
}

.titleBar {
  float: left;
}

.viewerPanel {
  background-color : #333;
  border-color : #333;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-style: solid;
  border-width : 0.15em;
}